<body class="ogranichitel.css " >
<table border="2" width="100%"cellpadding="5">
  <tr class="pos">
    <th><div>
      <%=image_tag 'WS' %>
      <h1>Вильгельм Стейниц</h1>
      <h2>Родился: 17 мая 1836 г., Прага, Чехия</h2>
      <h3>Умер: 12 августа 1900 г., Нью-Йорк,США</h3>
      <h4>годы чемпионств: 1886 – 1894</h4>
    </div>

      </div>
    </th>

  </tr>
  <tr class="pos">
    <th><div>
      <%=image_tag 'LS2' %>
      <h1>Эмануэль Ласкер</h1>
      <h2>Родился: 24 декабря 1868 г., Барлинек, Польша</h2>
      <h3>Умер: 11 января 1941 г., Нью-Йорк, Нью-Йорк, США</h3>
      <h4>годы чемпионств: 1894 -1921</h4>
    </div>

      </div>
    </th>

  </tr>
  <tr class="pos">
    <th><div>
      <%=image_tag 'SSSR3' %>
      <h1>Михаил Ботвинник</h1>
      <h2>Родился: 17 августа 1911 г., Репино</h2>
      <h3>Умер: 5 мая 1995 г., Москва</h3>
      <h4>годы чемпионств:1948 – 1957, 1958 – 1960, 1961—1963</h4>
    </div>

      </div>
    </th>

  </tr>
  <tr class="pos">
    <th><div>
      <%=image_tag 'INDIA4' %>
      <h1>Вишванатан Ананд</h1>
      <h2>Родился: 11 декабря 1969 г. (возраст 48 лет), Мейиладутерай, Индия</h2>
      <h3>Умер:жив на 04.12.18</h3>
      <h4>годы чемпионств:2007 — 2013</h4>
    </div>

      </div>
    </th>

  </tr>
  <tr class="pos">
    <th><div>
      <%=image_tag 'KARPOV5' %>
      <h1>Анатолий Карпов</h1>
      <h2>Родился: 23 мая 1951 г. (возраст 67 лет), Златоуст</h2>
      <h3>Умер:жив на 04.12.18</h3>
      <h4>годы чемпионств:1975—1985</h4>
    </div>

      </div>
    </th>

  </tr>
</table>
<ul class="font-size">

  <a href="http://localhost:3000"> <li >Menue</li></a>
</ul>
<tr class="pos">
  <h1></h1>
</tr>
</body>